@import "../mixins/media";

header {
    padding-top: 3rem;
    margin: 0;
}

.header {
    position: relative;
    text-align: center;

    &__phone {
        margin: 8px 0;
        > a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
        }
    }
}